body{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0b8793, #360033); 
}



.card-header {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

strong {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.form-group{
    padding-left: 3px;
    padding-right: 3px;
}

.card{
    margin-top: 100px;
}

.sign-up{
    margin-left: 5px;
    padding-left: 15px;
    margin-bottom: 15px;
}

